* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
    text-align: center;
    margin-top: 15px;
}

#game_container {
    margin: 20px auto;
    width: 60%;
    display: flex;
    height: calc(100vh - 30%);
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid #000;
    position: relative;
}

.square {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% / 24);
    aspect-ratio: 1;
    border: 1px solid #000;
}

.snakeBody {
    background-color: lightgreen;
}

.snakeHead {
    background-color: green;
}

.fruit {
    background-color: red;
}

#end_ui,
#start_ui {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
}

#end_ui h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

#end_ui p {
    margin-bottom: 5px;
}

.hide {
    display: none;
}